html {
  background-color: #070707;
  color: #eee;
}

body {
  background-color: #292727;

  /* (font) - start hidden */
  font-family: "Montserrat", sans-serif;
  transition: opacity 1.4s;
  opacity: 0;
}

/* (font) - show when loaded */
.wf-active body {
  opacity: 0.95;
}

.title {
  color: #eee;
}

.subtitle {
  color: #ccc;
}

.section,
.footer {
  background-image: linear-gradient(
    100deg,
    rgba(0, 0, 0, 0.02) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

.container {
  padding: 2% 4% 3%;
}
