html {
  background-color: #070707;
  color: #eee;
}

/* Font */

body {
  font-family: "Montserrat", sans-serif;
  /* start hidden */
  opacity: 0;
  transition: opacity 1.4s;
}

.wf-active body {
  /* show when fonts loaded */
  opacity: 0.95;
}

/* Structural */

.title {
  color: #eee;
}

.subtitle {
  color: #ccc;
}

.section,
.footer {
  background-image: linear-gradient(
    100deg,
    rgba(0, 0, 0, 0.02) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

.container {
  padding: 2% 4% 3%;
}

/* Navbar */
.navbar,
.navbar-menu {
  background-color: #070707;
}

.navbar .container {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-burger,
.navbar-item {
  color: #eee;
  user-select: none;
}

.navbar-burger:hover,
a.navbar-item.is-active,
a.navbar-item:hover {
  color: #eee;
  background-color: #101010;
}

/* Brand */

.brand {
  background-color: #000;
  position: relative;
}

.brand .background {
  opacity: 0.5;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: url(https://i.imgur.com/bfSLoYI.jpg) no-repeat center bottom;
  background-size: cover;

  filter: grayscale(100%);
}

.brand .logo {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .brand {
    /* force is-medium on touch */
    padding-bottom: 9rem;
    padding-top: 9rem;
  }

  .brand .logo {
    width: 100%;
  }
}

/* Blade - Positioning */

.positioning {
  position: relative;
  background: none;
  background-color: #080808;
  padding-top: 0;
}

.positioning p {
  color: #aaa;
}

/* Blade - Formula */

.formula {
  background-color: #171616;
}

.formula p {
  color: #aaa;
}

/* Blade - Core Competencies */

.skills {
  background-color: #292727;
}

.skills .columns {
  margin-top: 2em;
}

.skills .fa-circle {
  color: #bb2b24;
}

/* Blade - Logo Soup */

.logos {
  background-color: #e6e6e6;
}

.logos .title {
  color: #333;
}

/* Blade - Featured Work */

.work {
  background-color: #fff;
  position: relative;
  z-index: 10;
}

.work .title {
  color: #333;
}

.work .columns:not(:last-child) {
  margin-bottom: 3em;
}

.work .carousel-media-cell {
  width: 100%;
  height: auto;
  margin-right: 10px;
}

.work .carousel-media-cell video {
  width: 100%;
  height: auto;
}

.work .carousel-media .flickity-button {
  transition: opacity 0.3s;
  opacity: 0;
}

.work .carousel-media:hover .flickity-button {
  opacity: 0.75;
}

@media screen and (max-width: 768px) {
  .flickity-button {
    /* no carousel buttons on touch */
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .mobile-reverse-column-order {
    flex-direction: column-reverse;
  }
}

/* Blade - Recent Content */
/* note: Bulma uses ".content" */

.content-x {
  background-color: #e6e6e6;
}

.content-x .title {
  color: #333;
}

.content-x a {
  color: #363636;
}

.content-x a:hover {
  color: #3273dc;
  text-decoration: underline;
}

.content-x p {
  padding: 0 0.1em;
}

/* Contact */

.contact {
  background-color: #292727;
}

.contact .input,
.contact .textarea {
  background-color: rgba(255, 255, 255, 0.08);
  border-color: #555;
  color: #fff;
}

.contact .input ~ .icon,
.contact .textarea ~ .icon {
  color: #7a7a7a;
}

.contact .input:focus ~ .icon,
.contact .textarea:focus ~ .icon {
  color: #dbdbdb !important;
}

.contact ::-webkit-input-placeholder {
  color: #888;
}

.contact ::-moz-placeholder {
  color: #888;
}

.contact ::-ms-placeholder {
  color: #888;
}

.contact ::placeholder {
  color: #888;
}

.contact .button {
  background-color: #c52b1c;
  padding-left: 2em;
  padding-right: 2em;
}

/* Footer */

.footer.section {
  background-color: #070707;
  padding-top: 1.5em;
  padding-bottom: 2em;
}

.footer .container {
  padding-top: 0;
  padding-bottom: 0;
}

/* Subpages */
.subpage {
  background-color: #e6e6e6;
  color: #333;
}
